<%-include('partials/header')%>
<form action="/campgrounds" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="image" placeholder="Image URL">
	<button>Add new Campground</button>
</form>
<a href="/campgrounds">Back</a>
<%-include('partials/footer')%>
