<%-include('partials/header')%>
<form action="/campgrounds" method="POST" style="block">
	<input type="text" name="values[name]" placeholder="Name">
	<input type="text" name="values[image]" placeholder="Image URL">
	<input type="text" name="values[description]" placeholder="Description">
	<button>Add new Campground</button>
</form>
<a href="/campgrounds">Back</a>
<%-include('partials/footer')%>
